@import url('https://fonts.googleapis.com/css?family=Kanit');

html {
    font-family: 'Kanit', sans-serif;
    font-weight: 300;
    min-height: 100%;
}

body {
    font-family: 'Kanit', sans-serif;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}

.fullscreen:-moz-full-screen {
    height: 100%;
}

.fullscreen:-webkit-full-screen {
    height: 100%;
}

.fullscreen:-ms-fullscreen {
    height: 100%;
}

.fullscreen:fullscreen {
    height: 100%;
}

.fullscreen {
    min-height: 100%;
    margin-bottom: 10px;
    width: 100%;
    height: 100%;
}

.ol-rotate {
    top: 3em;
}

.map {
    width: 70%;
    height: 100%;
    float: right;
    right: 0;
    position: absolute;
}

.sidepanel {
    background: #1F6B75;
    width: 30%;
    height: 100%;
    left: 0;
    position: absolute;
    color: #ffffff;
}

.sidepanel-title {
    width: 100%;
    font-size: 2em;
    color: #ffffff;
    display: block;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #99cccc;
}

.form {
    padding: 10px;
    margin: 10px;
    display: block;
}
/* The switch - the box around the slider */

.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 24px;
}
/* Hide default HTML checkbox */

.switch input {
    display: none;
}
/* The slider */

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 21px;
    width: 21px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #99cccc;
}

input:focus+.slider {
    box-shadow: 0 0 1px #99cccc;
}

input:checked+.slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}
/* Rounded sliders */

.slider.round {
    border-radius: 24px;
}

.slider.round:before {
    border-radius: 50%;
}

.pull-left {
    float: left;
}

.layer-name {
    margin-left: 10px;
}

/* Popup */
.ol-popup {
	position: absolute;
	background-color: white;
	-webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
	filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
	padding: 15px;
	border-radius: 10px;
	border: 1px solid #cccccc;
	bottom: 12px;
	left: -50px;
	min-width: 280px;
}
.ol-popup:after, .ol-popup:before {
	top: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.ol-popup:after {
	border-top-color: white;
	border-width: 10px;
	left: 48px;
	margin-left: -10px;
}
.ol-popup:before {
	border-top-color: #cccccc;
	border-width: 11px;
	left: 48px;
	margin-left: -11px;
}
.ol-popup-closer {
	text-decoration: none;
	position: absolute;
	top: 2px;
	right: 8px;
}
.ol-popup-closer:after {
	content: "X";
	text-decoration: none;
}
#popup-content{
	font-size: 11px;
}

 /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

      .tooltip {
        position: relative;
        background: rgba(0, 0, 0, 0.5);
        border-radius: 4px;
        color: white;
        padding: 4px 8px;
        opacity: 0.7;
        white-space: nowrap;
      }
      .tooltip-measure {
        opacity: 1;
        font-weight: bold;
      }
      .tooltip-static {
        background-color: #ffcc33;
        color: black;
        border: 1px solid white;
      }
      .tooltip-measure:before,
      .tooltip-static:before {
        border-top: 6px solid rgba(0, 0, 0, 0.5);
        border-right: 6px solid transparent;
        border-left: 6px solid transparent;
        content: "";
        position: absolute;
        bottom: -6px;
        margin-left: -7px;
        left: 50%;
      }
      .tooltip-static:before {
        border-top-color: #ffcc33;
      } 

